body {
  background: #191970;
}

th {
  font-family: Arial;
  font-size: 55px;
  text-transform: uppercase;
  color: #FFD700;
}

table, td {
  border: 1px #FFD700 dashed;
}

p {
  font-size: 15px;
  color: #FFD700;
  font-family: Arial;
  padding: 15px;
}
